In [1]:
import requests
from datetime import datetime
import pandas as pd
import time
import json

urlbase = 'https://bweb-server.herokuapp.com/'
def get_result(x):
    try:
        result = pd.DataFrame.from_dict(x.json())
    except:
        result = x.text
    return result

### Exemplo de como chamar as APIs
#### Check do Budget

Para verificar qual o budget que você ainda tem, usar a rota abaixo:

In [2]:
url = urlbase + 'check_wallet'
payload = {'token': 'token_dummy_001'}
x = requests.post(url, data = payload)
res1 = get_result(x)
print(res1)

{"grupo":"Dummy","money_current":9996610.0,"money_initial":10000000.0}

Para incluir clientes no controle e/ ou tratamento, usar a rota abaixo. Na chamada dessa API, é importante passar o 'token' e pelo menos um dos campos 'controle' e/ou 'tratamento'.
Pontos importantes: 
- Passar a lista de clientes que quer incluir como controle/ tratamento no formato conforme abaixo: 'cli_0017,cli_0056, cli_0059'
- Cada cliente inserido no 'tratamento' custa R$11,00 para o seu budget
- Não chamar a API mais de uma vez para o mesmo cliente! Isso só vai te drenar o budget e você receberá a mesma informação repetida. No final das contas, o que vale é o quanto de lift você obteve em clientes únicos!
- Os grupos devem armazenas os resultados das chamadas da API 'experiment'. Caso você não armazene esses dados, eles serão perdidos.
- Caso seja passado um id_cliente que não exista, este será desconsiderado. Portanto, sempre utilizar o que vier no resultado da chamada da API como referência

**Cada grupo terá clientes que se comportarão de maneiras diferentes. Para alguns grupos, existirão lifts claros entre tratamento vs controle, para outros não. O papel de vocês é, de forma imparcial, realizar os experimentos e reportar os resultados**

In [3]:
payload = {'token': 'token_dummy_001',
         'controle': 'cli_0031,cli_0011,cli_0015',
          'tratamento': 'cli_0017,cli_0056,cli_0059'}


url = urlbase + 'experiment'
x = requests.post(url, data = payload)
res2 = get_result(x)
res2

        grupo id_cliente  vendas
0    controle   cli_0011   129.0
1    controle   cli_0015     0.0
2    controle   cli_0031     0.0
3  tratamento   cli_0017    89.0
4  tratamento   cli_0056    99.0
5  tratamento   cli_0059    21.0

### Exemplo de chamada de API com milhares de clientes

Os grupos ficam à vontade para chamar a API múltiplas vezes com uma quantidade menores de clientes ou uma única vez com uma quantidade maior, como é o caso abaixo:

In [4]:
df = pd.read_csv('base_clientes.csv')
df.head()

  id_cliente     persona  engajamento  compras_60_dias  proba
0   cli_0000  esporadico         87.1             47.0   0.34
1   cli_0001     unknown          7.9              0.0   0.07
2   cli_0002  esporadico         85.3            116.0   0.34
3   cli_0003  esporadico          9.0            159.0   0.14
4   cli_0004  esporadico          2.5              0.0   0.11

In [5]:
# Utilizando todos os clientes de 0 a 99 como controle e 100 a 199 como tratamento
clientes_controle = df['id_cliente'].iloc[0:100]
clientes_tratamento = df['id_cliente'].iloc[100:200]

# Formatando para uso da API:
clientes_controle = ','.join(clientes_controle)
clientes_tratamento = ','.join(clientes_tratamento)

print(clientes_tratamento)

cli_0100,cli_0101,cli_0102,cli_0103,cli_0104,cli_0105,cli_0106,cli_0107,cli_0108,cli_0109,cli_0110,cli_0111,cli_0112,cli_0113,cli_0114,cli_0115,cli_0116,cli_0117,cli_0118,cli_0119,cli_0120,cli_0121,cli_0122,cli_0123,cli_0124,cli_0125,cli_0126,cli_0127,cli_0128,cli_0129,cli_0130,cli_0131,cli_0132,cli_0133,cli_0134,cli_0135,cli_0136,cli_0137,cli_0138,cli_0139,cli_0140,cli_0141,cli_0142,cli_0143,cli_0144,cli_0145,cli_0146,cli_0147,cli_0148,cli_0149,cli_0150,cli_0151,cli_0152,cli_0153,cli_0154,cli_0155,cli_0156,cli_0157,cli_0158,cli_0159,cli_0160,cli_0161,cli_0162,cli_0163,cli_0164,cli_0165,cli_0166,cli_0167,cli_0168,cli_0169,cli_0170,cli_0171,cli_0172,cli_0173,cli_0174,cli_0175,cli_0176,cli_0177,cli_0178,cli_0179,cli_0180,cli_0181,cli_0182,cli_0183,cli_0184,cli_0185,cli_0186,cli_0187,cli_0188,cli_0189,cli_0190,cli_0191,cli_0192,cli_0193,cli_0194,cli_0195,cli_0196,cli_0197,cli_0198,cli_0199

In [6]:
# Chamada para API
payload = {'token': 'token_dummy_001',
         'controle': clientes_controle,
          'tratamento': clientes_tratamento}


url = urlbase + 'experiment'
x = requests.post(url, data = payload)
# A função get_result já retorna no format de pandas DataFrame
res = get_result(x)
res

          grupo id_cliente  vendas
0      controle   cli_0000     0.0
1      controle   cli_0001     0.0
2      controle   cli_0002   159.0
3      controle   cli_0003     0.0
4      controle   cli_0004    89.0
..          ...        ...     ...
195  tratamento   cli_0195     0.0
196  tratamento   cli_0196     0.0
197  tratamento   cli_0197     0.0
198  tratamento   cli_0198     0.0
199  tratamento   cli_0199    89.0

[200 rows x 3 columns]

In [7]:
# Para adicionar as outras informações dos clientes, basta usar o 'merge'
df_results = df.merge(res, on = 'id_cliente', how = 'inner')
df_results

,id_cliente,persona,engajamento,compras_60_dias,proba,grupo,vendas
0,cli_0000,esporadico,87.1,47.0,0.34,controle,0.0
1,cli_0001,unknown,7.9,0.0,0.07,controle,0.0
2,cli_0002,esporadico,85.3,116.0,0.34,controle,159.0
3,cli_0003,esporadico,9.0,159.0,0.14,controle,0.0
4,cli_0004,esporadico,2.5,0.0,0.11,controle,89.0
...,...,...,...,...,...,...,...
195,cli_0195,unknown,17.2,0.0,0.09,tratamento,0.0
196,cli_0196,unknown,28.1,149.0,0.13,tratamento,0.0
197,cli_0197,churrasco_fds,10.2,0.0,0.25,tratamento,0.0
198,cli_0198,vinho_final_do_dia,0.6,0.0,0.10,tratamento,0.0
199,cli_0199,esporadico,8.3,0.0,0.13,tratamento,89.0

In [8]:
df_results.groupby('grupo')['vendas'].mean()

grupo
controle      37.94
tratamento    53.26
Name: vendas, dtype: float64

Note que, nesse caso, as vendas do tratamento foram maior que o controle. Isso não é suficiente para falarmos que a iniciativa é viável economicamente: de fato, não sabemos da relevância estatística desse número, além de não estarmos considerando os custos da iniciativa. Afinal, a diferença média não parece ser suficiente para cobrir os gastos (considerando uma margem de 50% em cima da receita)